<%include layout/_header%>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s5">
                <a href="/mujeres">
                    <img src="mujer.png" alt="" sizes="" srcset="">
                </a>
            </div>
            <div class="col s5 offset-s2">
                <a href="/hombres">
                    <img src="hombre.png" alt="" sizes="" srcset="">
                </a>
            </div>
        </div>
    </div>
</div>
<%include layout/_footer%>