<%include ../layout/_header%>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <form action="/prendas/add" method="POST" enctype="multipart/form-data">
                    <div class="card-content">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="image">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" minlength="2" required>
                        <label for="color">Color</label>
                        <input type="text" name="color" minlength="2" required>
                        <label for="precio" >Precio</label>
                        <input type="number" name="precio" minlength="2" required>
                
                        <label for="cantidad">Cantidad</label>
                        <input type="number" name="cantidad" min=0>
                
                        <label for="genero">Genero</label>
                        <select name="genero" id="genero">
                            <option value="0">Hombre</option>
                            <option value="1">Mujer</option>
                        </select>
                        
                        <div class="center-align">
                            <button type="submit" class="btn"> Agregar Prenda</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%include ../layout/_footer%>